<div class="container">
    <div style="display: flex; justify-content: flex-end;">
        <button mat-raised-button (click)="adicionarLampada()">NEW</button>
    </div>
    <mat-card *ngIf="addLampada" class="odeioOPAP">
        <mat-form-field appearance="legacy" class="input">
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="newLamp.name">
        </mat-form-field>
        <mat-form-field appearance="legacy" class="input">
            <mat-label>Descrição</mat-label>
            <input matInput [(ngModel)]="newLamp.description">
        </mat-form-field>
        <mat-form-field appearance="legacy" class="input">
            <mat-label>Pino</mat-label>
            <input matInput [(ngModel)]="newLamp.pino">
        </mat-form-field>

        <mat-card-actions class="d-flex justify-content-around">
            <button mat-raised-button (click)="cancelar()">Cancelar</button>
            <button mat-raised-button (click)="salvar()">Salvar</button>
        </mat-card-actions>
    </mat-card>
    <div class="row">
        <div class="col-12 content">
            <mat-card class="col-3 card" *ngFor="let lamp of lampadas">
                <mat-card-header style="margin-bottom: 10px;">
                  <mat-card-title>{{lamp.name}}</mat-card-title>
                </mat-card-header>
                <div class="image">
                    <img mat-card-image
                        *ngIf="lamp.status"
                        src="./../../assets/img/apagada.png"
                        alt="Lampada está acesa"
                        class="lampada-img-apagada">
                    <img mat-card-image
                        *ngIf="!lamp.status"
                        src="./../../assets/img/acesa.png"
                        alt="Lampada está acesa"
                        class="lampada-img-acesa">
                </div>
                <mat-card-content>
                    <p>{{lamp.description}}</p>
                </mat-card-content>
                <mat-card-actions class="d-flex justify-content-around">
                    <button mat-raised-button *ngIf="lamp.status" (click)="turnOnOff(lamp)">Acender</button>
                    <button mat-raised-button *ngIf="!lamp.status" (click)="turnOnOff(lamp)">Apagar</button>
                    <button mat-raised-button (click)="editar(lamp)">Editar</button>
                    <button mat-raised-button (click)="delete(lamp)">Excluir</button>
                </mat-card-actions>
            </mat-card>

        </div>
    </div>
</div>